.wrapper {
  height: 100vh;  /* Asegura que ocupa toda la altura de la pantalla */
  width: 100%;    /* Asegura que ocupa toda la anchura de su contenedor */
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2948&q=80);
  display: flex; 
}

.topLeftText {
  position: absolute;
  top: 10px;     /* Distancia desde la parte superior */
  left: 10px;    /* Distancia desde la izquierda */
  z-index: 2;    /* Asegura que el texto se muestre por encima de otros elementos */
}

.form {
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  max-width: 450px;
  flex: 1;
  
  display: flex;          /* Activa Flexbox */
  flex-direction: column; /* Alinea los elementos hijos en un flujo vertical */
  justify-content: center; /* Centra los elementos hijos en el eje vertical */
  padding: 80px 30px;    /* Agrega un padding horizontal para mantener el espacio en los lados */

  @media (max-width: 576px) {
    width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
}
